body {
  background-color: black;
}

span {
  background-color: hsl(205deg 14% 20%);
  color: white;
  border-color: hsl(205deg 14% 20%);
  position: relative;
  top:1px;
}
h2{
  margin: 0;
}
.upperHr{
  
  background-color: black;
  border-bottom-color: white;
  border-bottom-width: 1px;
}

.lowerHr {
  height: 5px;
  background-color: black;
  border-color: black;
  color: black;
}

h1 {
  color: aliceblue;
  margin-bottom: 12px;
}

.inputFields {
  display: flex;
  justify-content: space-between;
}

.lang-box {
  width: 32.7%;
}

#output {
  background-color: white;
}